.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #f2f2f2;
  border: 1px solid red;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.header__logo {
  border: 1px solid red;
}

.header__title {
  position: relative;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  max-width: 730px;

  border: 1px solid red;
}

.header__subtitle {
  position: absolute;
  z-index: 1;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
  margin: 0;
  max-width: 388px;

  border: 1px solid red;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  right: 0;
  top: 64px;
}

.header__main-illustration {
  display: flex;
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 64px;
  height: 32px;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.two-columns__brief {
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  max-width: 175px;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
