.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}
  
.khan__buy-link:hover {
  border-radius: 2px;
  transition: 1.5s;
  opacity: 0.5;
}
  
.khan__buy-link:not(:hover) {
  transition: 1.5s;
}